.git
.gitignore
.venv
venv
ENV
env
__pycache__
*.py[cod]
*.pyo
*.pyd
.pytest_cache
.coverage
coverage.xml
htmlcov
.mypy_cache
.ruff_cache
.pyright
.env
.env.*
*.log
Dockerfile
docker-compose.yml
docker-compose_produccion.yaml
README.md
tests
.vscode
.idea
Thumbs.db
Desktop.ini
.DS_Store
