BASE_URL=http://search-engine-backend:8001
V1_SEARCH_URL=http://search-engine-backend:8001/api-se/v1/llm-search/semantic-search/
V1_AUTHORS_URL=http://search-engine-backend:8001/api-se/v1/authors/authors/most_relevant_authors/
V1_AUTHORS_FIND_URL=http://search-engine-backend:8001/api-se/v1/authors/authors/find_by_query/
V1_AUTHORS_DETAIL_URL=http://search-engine-backend:8001/api-se/v1/authors/authors/
V1_ARTICLES_RELEVANT_URL=http://search-engine-backend:8001/api-se/v1/articles/most-relevant-articles-by-topic/
V1_ARTICLES_BY_AUTHOR_URL=http://search-engine-backend:8001/api-se/v1/articles/find-articles-by-author-id/
V1_ARTICLES_DETAIL_URL=http://search-engine-backend:8001/api-se/v1/articles/
DATASET_VERSION=2026-04-us8
